# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.python-version
.venv/
venv/
env/
ENV/

# Build / packaging / coverage
build/
dist/
htmlcov/
.tox/
.coverage
*.cover
*.log
*.tmp
.pytest_cache/
.mypy_cache/
.cache/
tests/

# IDEs / OS
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

# Checkpoints / artifacts
runs/*
runs_deprc
checkpoints/
output/
artifacts/
wandb/
events.out.tfevents*
*.pt
*.bin
*.safetensors

# Data
datasets/
.cache/huggingface/
~/.cache/huggingface/

# Notebooks
.ipynb_checkpoints/

# Local configs
*.local.yaml
*.secrets.yaml

# misc
*.docx
scratchpad.md

